body {
  font-family: Helvetica, serif;
  background-image: url("https://cdn.glitch.com/40a08373-bf42-4006-bfd5-172df3a4002c%2F93288%20%5BConverted%5D.jpg?v=1570325289081");
  background-size: 100% 100%;
  background-repeat: repeat-y;
  height:100vh;
}

.navbar {
  overflow: hidden;
  background-color: #e8a79e;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-size: 50px;
  color: #000000;
  position: absolute;
  top: 40%;
  left: 40%;
}

.image img{
  width: 100%;
  
}

.icons a {
  float: right; /* Float links side by side */
}

.fluffstuff {
  height:10vh;
  text-align: center;
  padding: 100px;
}

.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e8a79e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  opacity:0.7;
  
}

.button2:hover {background-color: #c1bfbf;}

.button2:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttondiv {
  text-align: center;
  border: 0px solid;
  height:30vh;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}